@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;
.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  font-size: 16px;
  color: $ns-gray-200;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: $ns-yellow;
  display: block;
  &:not(.half) {
    path {
      stroke: $ns-gray-200;
      fill: $ns-gray-200;
    }
  }

  &.full {
    path{
      fill: currentColor;
      stroke: currentColor;
    }
  }

}

.value {
  font-size: 14px;
  color: $ns-gray-700;
  font-weight: 500;
  position: relative;
  top: 1px;
}
