@use './_variables' as *;
@use './_mixins';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: $font-main;
  background: $ns-white;
  color: $ns-gray-700;
  margin: 0;
  padding: 0;
}

a {
  color: $ns-purple;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
}
